.concesionarios {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.concesionarios th {
  position: relative;
  cursor: pointer;
  background-color: rgb(245, 250, 230);
  border: 2px ridge rgb(19, 75, 37);
}

.concesionarios a {
  color: rgb(0, 4, 255);
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
  background-color: rgb(245, 250, 230);
}

.concesionarios a:hover {
  color: rgb(65, 175, 102);
}

.concesionarios .badge {
  display: inline-block;
  font-size: small;
  color: rgb(235, 6, 6);
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #006de2;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: rgb(65, 175, 102);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}

button.delete {
  position: relative;
  left: 1px;
  top: 0px;
  background-color: rgb(255, 0, 0) !important;
  color: rgb(255, 255, 255);
}

.concesionario.precio {
  position: relative;
  left: 80px;
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.8em 0 0.8em;
  background-color: #ff0000;
  top: -4px;
  height: 1.8em;
  border-radius: 0 4px 4px 0;
}
table.concesionarios {
  font-family: Georgia, serif;
  background-color: rgb(245, 250, 230);
  width: 60%;
  text-align: center;
  border: 4px solid rgb(65, 85, 175);
}
