<div *ngIf="concesionario != undefined">
  <h2>{{concesionario._nombre}} Details</h2>
  <div>
    <label
      >ID:
      <input
        [(ngModel)]="concesionario._id"
        placeholder="{{concesionario._id}}"
      />
    </label>
    <br />
    <label
      >Concesionario Nombre:
      <input
        #concesionarioNombre
        [(ngModel)]="concesionario._nombre"
        placeholder="{{concesionario._nombre}}"
      />
    </label>
    <br />
    <label
      >Municipio:
      <input
        #concesionarioMunicipio
        [(ngModel)]="concesionario._municipio"
        placeholder="municipio"
      />
    </label>
    <br />
    <label
      >Direccion:
      <input
        #concesionarioDireccion
        [(ngModel)]="concesionario._direccion"
        placeholder="direccion"
      />
    </label>
    <br />
    <label
      >Número Teléfono:
      <input
        #concesionarioNumtelefono
        [(ngModel)]="concesionario._numtelefono"
        placeholder="numtelefono"
      />
    </label>
    <br />
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save(concesionarioMunicipio.value)">save</button>

  <br><br>
  <h2>Vehiculos</h2>
  <table class="vehiculos">
    <tr>
      <th>Modelo</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Matriculacion</th>
      <th>Tipo</th>
    </tr>
    <tr *ngFor="let s of concesionario._vehiculos">
      <td>{{s._modelo}}</td>
      <td>{{s._precio}}</td>
      <td>{{s._matriculacion}}</td>
      <td>{{s._cantidad}}</td>
      <td>{{s._tipo}}</td>
    </tr>
  </table>
  <h2>¿Desea añadir algún vehiculo más a {{concesionario._nombre}}?</h2>
  <table class="vehiculos">
    <tr>
      <th>ID:</th>
      <th><input #vehiculoId /></th>
    </tr>
    <tr>
      <th>Modelo del vehiculo:</th>
      <th><input #vehiculoModelo /></th>
    </tr>
    <tr>
      <th>Precio del vehiculo:</th>
      <th><input #vehiculoPrecio /></th>
    </tr>
    <tr>
      <th>Cantidad:</th>
      <th><input #vehiculoCantidad /></th>
    </tr>
    <tr>
      <th>Matriculacion:</th>
      <th><input #vehiculoMatriculacion /></th>
    </tr>
    <tr>
      <th>Tipo:</th>
      <th><input #vehiculoTipo /></th>
    </tr>
    <tr>
      <th>
        <button
            (click)="add(vehiculoId.value, vehiculoModelo.value, vehiculoPrecio.value, vehiculoCantidad.value, vehiculoMatriculacion.value, vehiculoTipo.value);vehiculoModelo.value=''; vehiculoPrecio.value='';vehiculoCantidad.value=''; vehiculoMatriculacion.value='';vehiculoTipo.value=''"
          >
            Añadir
          </button>
      </th>
    </tr>
  </table>
</div>